.header a {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 22px;
    color: gray;

}
.header a:hover {
    
    color: white;

}


.active {

    border-bottom: 3px solid white;
}


@media screen and (max-width: 688px) {
    .header a {

        display: block;
        padding: 5px;
        margin-left: 10px;
        font-size: 16px;

    }

    

    .header {
        width: 100%;
       


    }
}